{
    "env": {
      "browser": true
    },
    "parserOptions": {
      "ecmaVersion": 6
    },
    "extends": "eslint:recommended",
    "globals": {
      "cipher": false
    },
    "rules": {
      "indent": ["error", 2],
      "quotes": ["error", "double"],
      "semi": ["error", "always"],
      "camelcase": ["error", { "properties": "always" }],
      "keyword-spacing": ["error", { "before": true }],
      "comma-spacing": ["error", { "before": false, "after": true }],
      "space-before-blocks": ["error", "always"],
      "key-spacing": ["error", { "afterColon": true }],
      "no-multi-spaces": ["error", { "ignoreEOLComments": true }],
      "no-multiple-empty-lines": ["error", { "max": 1 }],
    }
  }