body{
    background-color: cadetblue;
}

.container-header{
    display: flex;
    flex-direction: column; 
}

.section-image{
    display: flex;
    flex-direction: row;
}

.image-pokeflix{
    margin-left: auto;
    margin-right: auto;
    height: 44vh;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.section-search{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}

.input-name{
    width: 23%;
    height: 25px;
    background: linear-gradient(180deg, #e5fff4 82.81%, rgba(255, 255, 255, 0) 100%);
    border-radius: 4px;
    border: none;
    font-style: italic;
}

select{
    width: 23%;
    height: 25px;
    background: linear-gradient(180deg, #e5fff4 82.81%, rgba(255, 255, 255, 0) 100%);
    border-radius: 4px;
    border: none;
    font-style: italic;
}

.text-percentage{
    font-family: comic sans-serif;
    color: navajowhite;
}

.container{
    margin-top: 30px;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    border: 3px solid rgb(73, 121, 8);
    width: 15%;
    height: auto;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    background-color: #fdfeff63;
}

.content-card{
    padding: 2px;
    text-align: left;
    font-size: 14px;
    word-wrap: break-word;
}

#percentage{
    font-size: 18px;
    color: black;
    font-weight: bold;
    text-align: center;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
    .image-pokeflix{
        width: 340px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
    }

     .section-search{
        flex-direction: column;
        margin-top: 2%;
        flex-wrap: wrap;
        display: inline;
        justify-content: center;
    }
  
    .select-order{
        display: grid;
        justify-content: initial; 
    }

    .select-order-name{
        margin: 10px;
        height: auto;
    }

    .select-type{
        margin: 10px;
        height: auto;
    }

    .input-search{
        margin: 10px;
        height: auto;
    }

    .container{
        margin-top: 30px;
    }

    .box{
        width: 60%;
    }
} 

@media screen and (min-width: 650px) and (max-width: 800px) {
    .image-pokeflix{
        margin-left: 90px;
        margin-right: auto;  
        height: 150px;  
    }
    
    .select-order{
        display: inline-grid;
        margin-top: 5%;
    }
    .container{
        margin-top: 30px;
        flex: 1;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
    }
    .box{
        width: 20%;
    }
}
